.countrycard {
  border: 7px solid white;
  margin: 10px;
  color: rgb(66, 66, 66);
  background-color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.countryflag {
  width: 255px;
  height: 150px;
}

.addcountryfavorite {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.15rem;
}
