label {
  color: White;
  font-size: 2rem;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin-left: 20px;
  width: 25%;
  font-size: 2rem;
  color: gray;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  text-align: center;
}
